html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#test-controls {
  width: fit-content;
  height: 200px;
  display: inline-block;
  z-index: 6767;
  position:fixed;
  top:0;
  left:50%;
  transform:translate(-50%,0);
  padding:10px;
}
#test-controls button {
  font-size:1.5em;
  padding:5px;
  
}
#route-information {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  z-index: 6767;
  position:fixed;
  bottom:0;
  left:0%;
  background-color:rgba(0,0,0,0.8);
  color:white;
  padding:10px;
}

#map {
  width: 100%;
  height: 100%;
}
